.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar-transparent {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  color: #fff;
}

.navbar li { color: #000 } 

.navbar-inverse .navbar-nav>li>a
{
  color: rgb(180, 180, 180);
}

.navbar-inverse .navbar-brand {
  color: #fff;
  font-weight: "900";
}

.navbar-scrolled {
  color: white;
}

.navbar-scrolled {
  background-color: #f8f8f8;
  background: #f8f8f8;
  border-color: #f8f8f8;
  color: #000
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  color: #000; 
  background-color: transparent;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
   color: #000; 
  background-color: transparent;
}
